<div id="Following">

  <div class="inner">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <%= render 'user_info' %>
  </div>
  </div>
  </div>
  </div>
  
  <% if @user.following_users.any? %>
  <div class="container">
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <section class="list">
      <ul class="clearfix">
      <% @user.following_users.each do |following| %>
      <li>
        <div class="clearfix">
          <div class="avatar"><%= link_to gravatar_for(following, size: 48), following %></div>
          <div class="info">
            <p class="name"><%= link_to following.name, following %></p>
            <p class="data"><span><%= following.timbres.count %></span>オト <span><%= following.following_users.count %></span>フォロー <span><%= following.follower_users.count %></span>フォロワー</p>
          </div>
        </div>
      </li>
      <% end %>
      </ul>
    </section>
  </div>
  </div>
  </div>
  <% end %>
  
</div>
