<div id="Followers">

  <div class="inner">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <%= render 'user_info' %>
  </div>
  </div>
  </div>
  </div>

  <% if @user.follower_users.any? %>
  <div class="container">
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <section class="list">
      <ul class="clearfix">
      <% @user.follower_users.each do |follower| %>
      <li>
        <div class="clearfix">
          <div class="avatar"><%= link_to gravatar_for(follower, size: 48), follower %></div>
          <div class="info">
            <p class="name"><%= link_to follower.name, follower %></p>
            <p class="data"><span><%= follower.follower_users.count %></span>オト <span><%= follower.follower_users.count %></span>フォロー <span><%= follower.follower_users.count %></span>フォロワー</p>
          </div>
        </div>
      </li>
      <% end %>
      </ul>
    </section>
  </div>
  </div>
  </div>
  <% end %>

</div>