<div id="Following">

  <div class="inner">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <%= render 'user_info' %>
  </div>
  </div>
  </div>
  </div>

  <div class="container">
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <section class="following_list">
      <% if @user.following_users.any? %>
        
        <ul>
        <% @user.following_users.each do |following| %>
        <li>
          <div class="clearfix">
            <div class="avatar"><%= link_to gravatar_for(following, size: 48), following %></div>
            <div class="info">
              <p class="name"><%= link_to following.name, following %></p>
              <p class="data"><span><%= following.following_users.count %></span>オト <span><%= following.following_users.count %></span>フォロー <span><%= following.follower_users.count %></span>フォロワー</p>
            </div>
          </div>
        </li>
        <% end %>
        </ul>

      <% end %>
    </section>
  </div>
  </div>
  </div>

</div>
