<li id="timbre-<%= timbre.id %>">
  
  <div class="set">
  <button type="button" class="play btn btn-default">Play</button>
  <span style="display:none" class="json"><%= timbre.json %></span>
  </div>
  
  <% if controller.action_name == "top" %>
    <%= link_to timbre.user.name, timbre.user %><br>
  <% end %>
  
  <%= timbre.name %><br>
  <span class="time"><%= time_ago_in_words(timbre.updated_at) %>前</span><br>
  <% if current_user == timbre.user %>
    <%= link_to '編集', edit_timbre_path(timbre) %>
    <%= link_to '削除', timbre, method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
  
</li>
