<% action = controller.action_name %>
<% show = false %>

<% if timbre.json.empty? %>
  <% show = false %>
<% else %>
  <% hash = JSON.parse(timbre.json) %>
  <% hash['notes'].each do | i | %>
    <% show = true if !i.empty? %>
  <% end%>
<% end%>

<% if show || action != 'top' %>
<li>
  
  
  <button type="button" class="play btn btn-default" <%= disabled="disabled" if !show %>>Play</button>
  <span style="display:none" class="json"><%= timbre.json %></span>
  <p><%= timbre.name %></p>
  
  <% if action == 'top' %>
    <p><%= link_to timbre.user.name, timbre.user %></p>
  <% end %>
  
  <span><%= time_ago_in_words(timbre.updated_at) %>前</span>
  <% if current_user == timbre.user %>
    <span><%= link_to '編集', edit_timbre_path(timbre) %></span>
    <span><%= link_to '削除', timbre, method: :delete, data: { confirm: '本当に削除しますか？' } %></span>
  <% end %>
  
</li>
<% end%>