<li id="timbre-<%= timbre.id %>">
    <%= link_to gravatar_for(timbre.user, size: 48), timbre.user %>
    <%= link_to timbre.user.name, timbre.user %>&nbsp;
    <%= time_ago_in_words(timbre.created_at) %>&nbsp;
    <% if current_user == timbre.user %><%= link_to '削除', timbre, method: :delete, data: { confirm: 'マジ？' } %><% end %>
    <%= timbre.data %>
</li>
