<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <title>オトグラム(仮)</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  
  <%= render 'layouts/header' %>

  <div id="Main">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
  </div>

  <%= render partial: "layouts/footer" %>

  <%= javascript_include_tag 'application' %>
  <script>
    $.feedback({
      ajaxURL: '<%= feedbacks_path %>',
      html2canvasURL: '<%= asset_path 'html2canvas.js' %>',
      userInfo: '<%= current_user.email if logged_in? %>',
    });
  </script>

</body>
</html>
